<div style="background-color: #f8f9fa;" class="container-fluid py-5 bg-body-secondary">
    <div class="row">
        <!-- Left Column -->
        <div class="col-12 col-md-6 p-4">
            <h1 class="industries-heading">Industries</h1>
            <p class="industries-subheading">Strong, economical bulk bags for your commercial needs.</p>
            
            <!-- <a href="#" class="more-btn">More</a> -->
            
            <h2 class="bulk-bags-title">Bulk bags types</h2>
            
            <ul class="industry-links">
                <li><a href="##">For Adhesives</a></li>
                <li><a href="##">For Chemicals</a></li>
                <li><a href="##">For Fiberglass</a></li>
                <li><a href="##" class="active">For Food</a></li>
                <li><a href="##">For Building Materials</a></li>
            </ul>
        </div>
        
        <!-- Right Column -->
        <div class="col-12 col-md-6 p-4">
            <div class="image-container">
                <img src="industries.webp" class="img-fluid" alt="">
                <!-- Image placeholder - you'll add the actual image later -->
                <div class="product-banner">
                    Bag Corp SUPER SACK®
                </div>
            </div>
        </div>
    </div>
</div>