<!-- first section -->
<div class="container py-5 ">
    <div class="row">
        <!-- Left Column -->
        <div class="col-12 col-md-6 p-4">
            <h1 class="industries-heading h5">Industries</h1>
            <p class="industries-subheading">Strong, economical bulk bags for your commercial needs.</p>
            
            <!-- <a href="#" class="more-btn">More</a> -->
            
            <h2 class="bulk-bags-title">Bulk bags types</h2>
            
            <ul class="industry-links">
                                
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            For Adhesives
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            In many industries, adhesives are used frequently and need to be transported and handled correctly. At FASTPRO, our most popular container, the SUPER SACK® Four-Panel Container, is perfect for the transport and handling of adhesives. The versatile, cost-effective four-panel construction is excellent for a variety of applications and is available custom designed or from our in-stock selection.
                        </div>
                      </div>
                    </div>
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            For Chemicals
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            When dealing with chemicals, you want a container that is reliable, sturdy, and safe for everyone involved. At FASTPRO, almost all our containers are compatible and efficient with the transporting and handling of many different kinds of chemicals. In particular, our Static Control Container helps prevent hazardous, combustible or flammable environments.
                        </div>
                      </div>
                    </div>
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            For Fiberglass
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            The transportation and handling of fiberglass is something a lot of industries, especially those in construction, need at some point. At FASTPRO, we offer a variety of containers that handle and transport fiberglass efficiently and safely.  Our containers are strong and durable, while remaining cost-effective, to ensure the container does not break while transporting your fiberglass product. 
                        </div>
                      </div>
                    </div>
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            For Food
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Coffee, teas and seasonings require a container that is able to easily transport, handle and store dry flowable products. At FASTPRO, almost all our containers are able to accomplish this.

                            Handling and transporting food products, such as meat, poultry and dairy, there is a chance of contamination from woods and corrugated materials in processing area. BAG Corp has food-grade containers and liners just for this type of application.
                        </div>
                      </div>
                    </div>
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                            For Building Materials
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            The handling and transport of building materials such as stone, gravel, debris, cement, soil or other construction materials is tough to overcome. Here at FASTPRO, we provide inexpensive, tough and durable containers to help with the transport and handling of these materials, such as the Builder’s Bag. 
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </ul>
        </div>
        
        <!-- Right Column -->
        <div class="col-12 col-md-6 p-4">
            <div class="image-container">
                <img src="industries.webp" class="img-fluid" alt="">
                <!-- Image placeholder - you'll add the actual image later -->
                <div class="product-banner">
                    Bag Corp SUPER SACK®
                </div>
            </div>
        </div>
    </div>
</div>

<!-- second section -->
<div class="mb-3 container">
    <div class="row">
        <!-- Left column for image -->
        <div class="col-12 col-lg-6 p-0">
            <div class="mb-3">
                <img src="why1.webp" alt="Why Choose Us" class="">
            </div>
        </div>

        <!-- Right column for content -->
        <div class="col-12 col-lg-6 d-flex align-items-center p-5">
            <div>
                <h1 class="why-choose-heading mb-4">Why Choose Us?</h1>
                <p class="main-description mb-5">
                    The pioneer of the FIBC Industry in North America 
                    since 1969, no one has delivered products and 
                    services like BAG Corp.
                </p>

                <!-- Features -->
                <div class="d-flex align-items-start mb-3">
                    <div class="feature-icon me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                          </svg>
                    </div>
                    <div>
                        <h3 class="feature-title">The Original Super Sack</h3>
                        <p class="feature-description">We are the originator and only source for the Super Sack®</p>
                    </div>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="feature-icon me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                          </svg>
                    </div>
                    <div>
                        <h3 class="feature-title">Serving Global Brands</h3>
                        <p class="feature-description">Representing brands internationally across a broad spectrum of industry verticals</p>
                    </div>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="feature-icon me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg>
                    </div>
                    <div>
                        <h3 class="feature-title">Trusted Advice</h3>
                        <p class="feature-description">By getting to know our clients specific needs, we meet your supply chain goals</p>
                    </div>
                </div>

                <div class="d-flex align-items-start">
                    <div class="feature-icon me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                          </svg>
                    </div>
                    <div>
                        <h3 class="feature-title">52 Years of Experience</h3>
                        <p class="feature-description">We are an industry leader, innovating processes and best practices through experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>