<!-- header -->
<header class="position-relative h-50 card rounded-0 border-0">
    <div class="header-image">
        <img style="max-height: 800px; width: 100%;" src="textilesHeader.webp" alt="FastPro" title="FastPro" loading="lazy" class="img-fluid hdr">
    </div>

    <!-- Contenedor para el título y el texto -->
    <div class="position-absolute bottom-0 start-0 p-5 text-white header-text">
        <h2 class="fw-bold">FAST Textiles.</h2>
        <h2 class="fw-bold">PRO Mexico Manufacturing</h2>
        <p class="mb-0">The designs engineered for success</p>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark position-absolute top-0 start-50 translate-middle-x w-100 px-2">
        <div class="container">
          <a class="navbar-brand" href="#" title="Fast Pro">
            <img src="fpLogo.svg" alt="Fastpro" title="Fast Pro" width="190" loading="lazy" class="logo-responsive">
          </a>
      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto nav-underline gap-2 f5">
              <li class="nav-item">
                <a class="nav-link active text-white" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" title="home">Home</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" title="about">About</a>
              </li>
      
              <!-- Dropdown: Products -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="productsDropdown">
                  <li><a class="dropdown-item" routerLink="/bags" routerLinkActive="active" title="bags">Bags</a></li>
                  <li><a class="dropdown-item" routerLink="/textiles" routerLinkActive="active" title="textiles">Textiles</a></li>
                </ul>
              </li>
      
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page" title="services">Services</a>
              </li>
      
              <!-- Dropdown: Resources -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Resources
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="resourcesDropdown">
                  <li><a class="dropdown-item" routerLink="/features" routerLinkActive="active" title="FAST Features">FAST Features</a></li>
                  <li><a class="dropdown-item" routerLink="/prospectives" routerLinkActive="active" title="PRO Prospectives">PRO Prospectives</a></li>
                  <li><a class="dropdown-item" routerLink="/faqs" routerLinkActive="active" title="FAQs">FAQs</a></li>
                </ul>
              </li>
      
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" title="contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

<!-- first section -->
<div class="container py-5 ">
    <div class="row">
        <!-- Left Column -->
        <div class="col-12 col-md-6 p-4">
            <!-- <h1 class="industries-heading h5">Industries</h1> -->
            <p class="industries-subheading">BFM Statemen</p>
            
            <!-- <a href="#" class="more-btn">More</a> -->
            
            <h2 class="bulk-bags-title">Textiles</h2>
            
            <ul class="industry-links">
                                
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          FIBC Fabrics
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                          Flexible Intermediate Bulk Containers (FIBCs) provide a reliable and efficient solution for a wide range of industries. Whether you're in chemical processing, agriculture, food production, or pharmaceuticals, FIBCs offer secure, cost-effective packaging for transporting and storing bulk materials. With various designs and features, such as moisture resistance and custom sizes, FIBCs are adaptable to meet the specific needs of your industry, ensuring safe handling and optimal performance across the supply chain.”
                          o	“Static Protection FIBCs.                          
                        </div>
                      </div>
                    </div>
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                          Groundcover
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            When dealing with chemicals, you want a container that is reliable, sturdy, and safe for everyone involved. At FASTPRO, almost all our containers are compatible and efficient with the transporting and handling of many different kinds of chemicals. In particular, our Static Control Container helps prevent hazardous, combustible or flammable environments.
                        </div>
                      </div>
                    </div>
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          Leno
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            The transportation and handling of fiberglass is something a lot of industries, especially those in construction, need at some point. At FASTPRO, we offer a variety of containers that handle and transport fiberglass efficiently and safely.  Our containers are strong and durable, while remaining cost-effective, to ensure the container does not break while transporting your fiberglass product. 
                        </div>
                      </div>
                    </div>
                  
                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            For Food
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Coffee, teas and seasonings require a container that is able to easily transport, handle and store dry flowable products. At FASTPRO, almost all our containers are able to accomplish this.

                            Handling and transporting food products, such as meat, poultry and dairy, there is a chance of contamination from woods and corrugated materials in processing area. BAG Corp has food-grade containers and liners just for this type of application.
                        </div>
                      </div>
                    </div>
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                            For Building Materials
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            The handling and transport of building materials such as stone, gravel, debris, cement, soil or other construction materials is tough to overcome. Here at FASTPRO, we provide inexpensive, tough and durable containers to help with the transport and handling of these materials, such as the Builder’s Bag. 
                        </div>
                      </div>
                    </div> -->
                  </div>
                  
            </ul>
        </div>
        
        <!-- Right Column -->
        <div class="col-12 col-md-6 p-4">
            <div class="image-container">
                <img src="industries.webp" class="img-fluid" alt="industries" title="industries">
                <!-- Image placeholder - you'll add the actual image later -->
                <div class="product-banner">
                  FAST. STRONG. RELIABLE
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Why section -->
<div class="my-4 container">
  <div class="row align-items-center">
      <!-- Left column for image -->
      <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div class="mb-3 ">
              <img src="why1.webp" alt="Why Choose Us" title="why choose us" class="img-fluid rounded shadow-sm w-100">
          </div>
      </div>

      <!-- Right column for content -->
      <div class="col-12 col-lg-6 d-flex align-items-center p-5">
          <div>
              <h1 class="why-choose-heading mb-4">Fast Pro Bags and Textiles, Inc. </h1>
              <p class="main-description mb-5">
                Is committed to delivering the same high standards of quality, safety, innovation, and operational efficiency that our customers have come to expect from us.
              </p>

              <!-- Features -->
              <div class="d-flex align-items-start mb-3">
                  <div class="feature-icon me-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-bag rotate-gear" viewBox="0 0 16 16">
                          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                  </div>
                  <div>
                      <h3 class="feature-title">Customizable Textiles</h3>
                      <p class="feature-description">Tailored solutions to meet exact specifications and industry needs</p>
                  </div>
              </div>

              <div class="d-flex align-items-start mb-3">
                  <div class="feature-icon me-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-globe-americas rotate-gear" viewBox="0 0 16 16">
                          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                        </svg>
                  </div>
                  <div>
                      <h3 class="feature-title">North American Production</h3>
                      <p class="feature-description">Enjoy reliable quality with reduced shipping times and costs, while minimizing downtime through faster turnarounds and less dependency on overseas logistics and delays.</p>
                  </div>
              </div>

              <div class="d-flex align-items-start mb-3">
                  <div class="feature-icon me-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-chat-left-dots rotate-gear" viewBox="0 0 16 16">
                        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                  </div>
                  <div>
                      <h3 class="feature-title">We take the time to</h3>
                      <p class="feature-description">Understand your specific needs, enabling clear communication and swift problem-solving to help you achieve your supply chain goals with confidence.</p>
                  </div>
              </div>

              <div class="d-flex align-items-start">
                  <div class="feature-icon me-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-clipboard-data rotate-gear" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                        <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                        </svg>
                  </div>
                  <div>
                      <h3 class="feature-title">25+ Years of Mexico Manufacturing Experience</h3>
                      <p class="feature-description">With over 25 years of quality bag and textile manufacturing experience in Mexico, we’ve earned our place as an industry leader—continually advancing processes and best practices through innovation and expertise.</p>
                  </div>
              </div>
              <div class="text-center text-md-start">
                <a class="btn btn-outline-primary btn-lg mt-3" type="button">Get a Quote</a>
              </div>
          </div>
          
      </div>
      
  </div>
</div>