<div class="container py-5">
    <!-- Clients Heading -->
    <h2 class="clients-heading">CLIENTS</h2>
    
    <!-- Client Logos -->
    <div class="row justify-content-center align-items-center text-center">
        <!-- Logo placeholders -->
        <div class="col-6 col-md-4 col-lg-2 p-3">
            <img src="dupont.svg" class="img-fluid" alt="Dupont">
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-3">
            <img src="strbucks.svg" class="img-fluid" alt="Starbucks">
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-3">
            <img src="eastman.svg" class="img-fluid" alt="Eastman">
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-3">
            <img src="invista.svg" class="img-fluid" alt="Invista">
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-3">
            <img src="bayer.svg" class="img-fluid" alt="Bayer" style="width: 80px;">
        </div>
    </div>
    
    <!-- Bottom Divider -->
    <div class="divider"></div>
</div>