<div class="py-5 container-fluid">
    <div class="row mb-5">
        <div class="col-12 col-md-3">
            <p class="about-us-label">ABOUT US</p>
        </div>
        <div class="col-12 col-md-9">
            <div class="d-flex align-items-center mb-4">
                <!-- Placeholder for logo - user will add later -->
                 <img style="width: 80px;"  class="me-4 img-fluid" src="fpLogo2.svg" alt="">
               
                <h1 class="about-heading">One of the most experienced<br>manufacturer of bulk bags</h1>
            </div>
            
            <div class="divider"></div>
            
            <p class="subtitle mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Maecenas sodales lectus vitae efficitur aliquet.
            </p>
            
            <a href="#" class="btn about-btn text-white">About company</a>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-12 col-md-3 mb-4">
            <div class="stats-box">
                <div class="stats-number mb-3">1973</div>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <div class="stats-box">
                <div class="stats-number mb-3">2025</div>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <div class="stats-box">
                <div class="stats-number mb-3">1500</div>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <div class="stats-box">
                <div class="stats-number mb-3">+25</div>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>