<!-- header -->
<header class="position-relative h-50 card rounded-0 border-0">
    <div class="header-image">
        <img style="max-height: 800px; width: 100%;" src="fpHeader2.webp" alt="FastPro" title="FastPro" loading="lazy" class="img-fluid hdr">
    </div>

    <!-- Contenedor para el título y el texto -->
    <div class="position-absolute bottom-0 start-0 p-5 text-white">
        <h1 class="fw-bold text-uppercase">High</h1>
        <h1 class="fw-bold text-uppercase">Quality Bags</h1>
        <p class="mb-0">for businesses worldwide</p>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark position-absolute top-0 start-50 translate-middle-x w-100 px-2">
        <div class="container">
            <a class="navbar-brand" href="#" title="Fast Pro">
                <img src="fpLogo.svg" alt="Fastpro" title="Fast Pro" width="150" loading="lazy" class="logo-responsive">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto nav-underline gap-2 f5">
                    <li class="nav-item"><a class="nav-link active text-white" routerLinkActive="active" routerLink="/home" ariaCurrentWhenActive="page" title="home">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLinkActive="active" routerLink="/about" ariaCurrentWhenActive="page" title="about">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLinkActive="active" routerLink="/bags" ariaCurrentWhenActive="page" title="bags">Bags</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLinkActive="active" routerLink="/textiles" ariaCurrentWhenActive="page" title="textiles">Textiles</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLinkActive="active" routerLink="/services" ariaCurrentWhenActive="page" title="services">Services</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLinkActive="active" routerLink="/contact" ariaCurrentWhenActive="page" title="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!-- first section -->
<div class="py-5 container">
    <div class="row mb-5">
        <div class="col-12 col-md-3">
            <p class="about-us-label h5">ABOUT US</p>
        </div>
        <div class="col-12 col-md-9">
            <div class="d-flex align-items-center mb-4 py-5">
                <!-- Placeholder for logo - user will add later -->
                 <img style="width: 80px;"  class="me-4 img-fluid" src="fpLogo2.svg" alt="">
               
                <h1 class="about-heading">One of the most experienced<br>manufacturer of bulk bags</h1>
            </div>
            
            <div class="divider"></div>
            
            <p class="subtitle mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Maecenas sodales lectus vitae efficitur aliquet.
            </p>
            
            <!-- <a href="#" class="btn about-btn text-white">About company</a> -->
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-12 col-md-3 mb-4">
            <div class="stats-box">
                <div class="stats-number mb-3">1973</div>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <div class="stats-box">
                <div class="stats-number mb-3">2025</div>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <div class="stats-box">
                <div class="stats-number mb-3">1500</div>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <div class="stats-box">
                <div class="stats-number mb-3">+25</div>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>

<!-- second section -->

<div class="container border-0 card mb-3 py-4">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="au1.webp" class="img-fluid rounded-start" alt="fastpro" title="about us">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 style="color: #eb7700;" class="h3 card-title">Who We Are</h5>
          <p class="card-text">Who We Are
            Headquartered out of Richardson, TX and a division of United Bags, BAG Corp is a bulk handling and supply chain solutions provider structured with one mission in mind: Helping businesses manage all of their bulk handling needs from one source. BAG Corp's manufacturing resources for the SUPER SACK® container and related FIBC products include our North American manufacturing operation located in Mexico in combination with our international manufacturing and warehousing partners who ensure all our FIBCs meet the tough BAG Corp specification and performance standards.</p>
          
        </div>
      </div>
    </div>
</div>

<div class="container border-0 card mb-3 py-4">
    <div class="row g-0">      
      <div class="col-md-8">
        <div class="card-body">
          <h5 style="color: #eb7700;" class="h3 card-title">What We Do</h5>
          <p class="card-text">What We Do
            BAG Corp is a trusted advisor to clients first and foremost. It is through getting to know our clients specific need, we are able to help them meet their supply chain goals. These goals are met through our advisory services, engineering services, technical support, supply chain and logistics management. BAG Corp ensures your product is of the upmost quality, and with our virtually limitless global production capacity, we can provide bulk bags in a timely, cost-effective manner. In addition, we stock over 360,000 FIBCs for immediate delivery.</p>     
        </div>
      </div>
      <div class="col-md-4">
        <img src="au2.webp" class="img-fluid rounded-start" alt="fastpro" title="about us">
      </div>
    </div>
</div>