<footer class="py-3 bg-body-secondary">
    <div class="container">
        <div class="row">
            <!-- Logo and Description Column -->
            <div class="col-md-4 col-12 mb-3">
                <h5 style="color: #eb7700;" class="text-uppercase mb-4">
                    fastpro
                </h5>                
                <p class="text-secondary text-wrap fs-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis nibh sed nulla accumsan porta vitae sit amet diam. Proin laoreet, metus at finibus tristique, turpis orci.
                </p>
                <img style="width: 150px;" src="fplogoBlue.svg" alt="Fast Pro" class="img-fluid mt-3 mb-3" loading="lazy">                
            </div>

            <!-- Shop Column -->
            <div class="col-md-2 col-6 mb-3 ms-2">
                <h6 style="color: #eb7700;" class="text-uppercase mb-3">menu</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-decoration-none">Products</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none">Services</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none">Technical</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <!-- Company Column -->
            <!-- <div class="col-md-2 col-6 mb-3">
                <h6 style="color: #eb7700;" class="text-uppercase h6 mb-3">company</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-decoration-none">Products</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none">Services</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none">Technical</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none">Contact</a></li>
                </ul>
            </div> -->

            <!-- Contact Column -->
            <div class="col-md-5 col-12 mb-3">
                <h6 class="text-uppercase text-primary">
                    new products & promotions
                </h6>
                <p style="color: #eb7700;" class="fs-6">
                    Sign up to receive email updates on new products announcements and special promotions.
                </p>
                <label for="emailSubscription" class="form-label fw-bold">Subscribe:</label>
                <input type="email" id="emailSubscription" class="form-control w-100 mb-2" placeholder="Enter your email">
            </div>
        </div>       
    </div>
</footer>
