<header class="position-relative h-50 card rounded-0 border-0">
    <img src="fpHeader.webp" alt="FastPro" fetchpriority="high" loading="lazy" class="img-fluid">        
    <nav class="navbar navbar-expand-lg navbar-dark position-absolute top-0 start-50 translate-middle-x w-100 px-2">
      <div class="container">
          <!-- Logo -->
          <a class="navbar-brand" href="#" title="Fast Pro">
              <img src="fpLogo.svg" alt="Fastpro" width="150" loading="lazy" class="logo-responsive">
          </a>
          <!-- Botón de colapso en pantallas pequeñas -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Menú de navegación -->
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto nav-underline gap-2 f5">
                <!-- Enlace a Home -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="#selectProduct" title="Products">Home</a>
                </li>
                <!-- Enlace a About -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="#selectProduct" title="Products">About</a>
                </li>
                <!-- Enlace a Bags -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="#selectProduct" title="Products">Bags</a>
                </li>
                <!-- Enlace a Textiles -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="##" title="Products">Textiles</a>
                </li>
                <!-- Enlace a Nosotros -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="" title="Services">Services</a>
                </li>                  
                  <!-- Enlace a Contacto -->
                <li class="nav-item">
                      <a class="nav-link text-white" href="" title="Contact">Contact</a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
</header>