<div id="selectProduct" class="container">
    <div class="d-flex justify-content-between align-items-center">
        <!-- Texts on the left -->
        <div>
            <h2 style="color: #2d3eae;">
                Select a product
            </h2>
            <h2 style="color: #eb7700;">
                to learn more
            </h2>
        </div>

        <!-- Image on the right -->
        <div>
            <img src="product1.svg" alt="Product" class="img-fluid" style="max-width: 150px;">
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-5">
            <!-- Shop all -->
            <!-- <div class="col-6 col-md-4">
                <a href="#" class="product-card">
                    <div class="product-image">
                        <img src="product2.webp" alt="" class="img-fluid">
                    </div>
                    <h2 class="product-title">Shop all</h2>
                </a>
            </div> -->
            
            <!-- Barrel Bag -->
            <div class="col-6 col-md-4">
                <a href="#" class="product-card">
                    <div class="product-image">
                        <img src="product3.webp" alt="" class="img-fluid">
                    </div>
                    <h2 class="product-title">Barrel Bag</h2>
                </a>
            </div>
            
            <!-- Builder's Bag -->
            <div class="col-6 col-md-4">
                <a href="#" class="product-card">
                    <div class="product-image">
                        <img src="product4.webp" alt="" class="img-fluid">
                    </div>
                    <h2 class="product-title">Builder's Bag</h2>
                </a>
            </div>
            
            <!-- DeWatering Bag -->
            <div class="col-6 col-md-4">
                <a href="#" class="product-card">
                    <div class="product-image">
                        <img src="product5.webp" alt="" class="img-fluid">
                    </div>
                    <h2 class="product-title">DeWatering Bag</h2>
                </a>
            </div>
            
            <!-- SUPER SACK® Standard -->
            <div class="col-6 col-md-4">
                <a href="#" class="product-card">
                    <div class="product-image">
                        <img src="product6.webp" alt="" class="img-fluid">
                    </div>
                    <h2 class="product-title">SUPER SACK® Standard</h2>
                </a>
            </div>
            
            <!-- Accessories -->
            <div class="col-6 col-md-4">
                <a href="#" class="product-card">
                    <div class="product-image">
                        <img src="product7.webp" alt="" class="img-fluid">
                    </div>
                    <h2 class="product-title">Waste Away</h2>
                </a>
            </div>

            <div class="col-6 col-md-4">
                <a href="#" class="product-card">
                    <div class="product-image">
                        <img src="product8.webp" alt="" class="img-fluid">
                    </div>
                    <h2 class="product-title">Accessories</h2>
                </a>
            </div>
        </div>
    </div>
</div>
