<div class="container align-items-center justify-content-center px-0 py-3">
    <!-- Services Heading -->
    <div class="container py-4">
        <h1 class="services-heading">Services</h1>
    </div>
    
    <!-- Image Container -->
    <div class="image-container">
        <!-- Image placeholder -->
        <img src="services.webp" alt="">
        
        <!-- Services Footer (dentro de .image-container) -->
        <div class="services-footer">
            <ul class="services-list">
                <li>Engineering</li>
                <li>Logistics</li>
                <li>Support</li>
                <li>Training</li>
                <li>Others</li>
            </ul>
        </div>
    </div>
</div>
