.services-heading {
    color: #1a4db3;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.image-container {
    position: relative;
    display: block; /* Cambiar de inline-block a block */
    width: auto; /* Permite que la imagen mantenga su tamaño */
    max-width: 100%; /* Evita que se desborde */
    
    text-align: center; /* Centra la imagen internamente */
}

.image-container img {
    display: inline-block; /* Permite centrar la imagen correctamente */
    max-width: 100%; /* Evita que la imagen se salga del contenedor */
    height: auto; /* Mantiene la proporción */
}


.services-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a237e;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 500;
}


.services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-list li {
    padding: 0 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.services-list li:not(:last-child)::after {
    content: '|';
    color: #ff7200;
    margin-left: 1.5rem;
}

