<div class="container-fluid my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border-0">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Border hero with cropped image and shadows</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a href="#" class="btn btn-primary btn-lg px-4 gap-3">Products</a>
            <a href="#" class="btn btn-outline-secondary btn-lg px-4">Services</a>
            
        </div>
      </div>
      <div class="col-lg-4   shadow">
          <img class="rounded-end img-fluid mb-3" src="why1.webp" alt="" width="720">
      </div>
    </div>
  </div>