.supernav-bar {
    background-color: #ff8000bb;
  }
  
  .supernav-bar a {
    color: white;
  }
  
  .supernav-bar a:hover {
    color: #1f5bd3;
    text-decoration: none;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .supernav-bar span {
      display: block;
      text-align: center;
    }
  
    .supernav-bar .btn {
      width: 100%;
    }
  }