<header class="position-relative h-50 card rounded-0 border-0">
    <div class="header-image">
        <img style="max-height: 800px; width: 100%;" src="fpHeader.webp" alt="FastPro" title="FastPro"  loading="lazy" class="img-fluid hdr">
    </div>
  
    <!-- Contenedor para el título y el texto -->
    <div class="position-absolute bottom-0 start-0 p-5 text-white header-text">
        <h2 class="fw-bold">FAST</h2>
        <h2 class="fw-bold">STRONG RELIABLE</h2>
        <p class="mb-0">FAST FIBCs, Bulk Bags, and Textiles. PRO Mexico Manufacturing.</p>
    </div>
  
    <nav class="navbar navbar-expand-lg navbar-dark position-absolute top-0 start-50 translate-middle-x w-100 px-2">
      <div class="container">
        <a class="navbar-brand" href="#" title="Fast Pro">
          <img src="fpLogo.svg" alt="Fastpro" title="Fast Pro" width="190" loading="lazy" class="logo-responsive">
        </a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto nav-underline gap-2 f5">
            <li class="nav-item">
              <a class="nav-link active text-white" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" title="home">Home</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" title="about">About</a>
            </li>
    
            <!-- Dropdown: Products -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" routerLink="/products" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="productsDropdown">
                <li><a class="dropdown-item" routerLink="/bags" title="bags">Bags</a></li>
                <li><a class="dropdown-item" routerLink="/textiles" title="textiles">Textiles</a></li>
              </ul>
            </li>
    
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page" title="services">Services</a>
            </li>
    
            <!-- Dropdown: Resources -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Resources
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="resourcesDropdown">
                <li><a class="dropdown-item" routerLink="/features" routerLinkActive="active" title="FAST Features">FAST Features</a></li>
                <li><a class="dropdown-item" routerLink="/prospectives" routerLinkActive="active" title="PRO Prospectives">PRO Prospectives</a></li>
                <li><a class="dropdown-item" routerLink="/faqs" routerLinkActive="active" title="FAQs">FAQs</a></li>
              </ul>
            </li>
    
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" title="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<!-- OUR products -->

<div class="container align-items-center justify-content-center px-0 py-3">
    <!-- Services Heading -->
    <!-- <div class="container py-4">
        <h1 style="color: #1a4db3;" class="services-heading h5">Services</h1>
    </div> -->
    
    <!-- Image Container -->
    <div class="image-container">        
      <section class="py-5 py-xl-8">
        <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 style="color: #eb7700;" class="mb-4 display-5 text-center">Our Products</h2>
          <p class="text-secondary mb-5 text-center">FASTPRO is a trusted advisor to clients first and foremost. It is through getting to know our clients specific need, we are able to help them meet their supply chain goals.</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
        </div>
  
    <div class="container ">
      <div class="row gy-5">

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-gear-fill bounce-svg" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
              </svg>
            <h5 class="m-2">Flexible Intermediate Bulk Containers (FIBCs)</h5>
            <p class="m-0 text-secondary">Provide secure, cost-effective, and customizable packaging solutions for transporting and storing bulk materials.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-gear-wide-connected bounce-svg" viewBox="0 0 16 16">
                <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z"/>
              </svg>
            <h5 class="m-2">Static Protection FIBCs</h5>
            <p class="m-0 text-secondary">Provide reliable static protection, ensuring safe and efficient handling of materials in environments where static discharge may pose a risk.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-clipboard-check-fill bounce-svg" viewBox="0 0 16 16">
                <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/><path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
              </svg>
            <h5 class="m-2">UN Certified FIBCs</h5>
            <p class="m-0 text-secondary">Offer the highest level of safety and compliance for transporting hazardous materials, ensuring secure and reliable packaging solutions that meet rigorous regulatory standards.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-shop bounce-svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/><path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
              </svg>
            <h5 class="m-2">Filtration & DeWatering FIBCs</h5>
            <p class="m-0 text-secondary">Made with a proprietary porous fabric, efficiently drain liquids from mixtures of solids and liquids, streamlining filtration processes and minimizing waste.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-wrench bounce-svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003zM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461z"/>
              </svg>
            <h5 class="m-2">Commodity FIBCs </h5>
            <p class="m-0 text-secondary">Provide a practical, cost-effective, and reliable packaging solution for the simple and safe transport of dry bulk materials.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-box-seam-fill bounce-svg" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
            <h5 class="m-2">Custom FIBCs</h5>
            <p class="m-0 text-secondary">Designed to adapt to your unique operational needs, delivering the flexibility and performance required to enhance efficiency and value.</p>
          </div>
        </div>
      </div>
    </div>
      </section>
    </div>
</div>

<div class="d-flex justify-content-center py-4">
    <a routerLink="/bags" class="btn btn-outline-primary btn-lg px-4 me-md-2" title="products">Learn More</a>
</div>

<!-- our Textiles -->

<div class="container align-items-center justify-content-center px-0 py-3">
    <!-- Services Heading -->
    <!-- <div class="container py-4">
        <h1 style="color: #1a4db3;" class="services-heading h5">Services</h1>
    </div> -->
    
    <!-- Image Container -->
    <div class="image-container">        
      <section class="py-5 py-xl-8">
        <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 style="color: #eb7700;" class="mb-4 display-5 text-center">Our Textiles</h2>
          <!-- <p class="text-secondary mb-5 text-center">FASTPRO is a trusted advisor to clients first and foremost. It is through getting to know our clients specific need, we are able to help them meet their supply chain goals.</p> -->
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
        </div>
  
    <div class="container ">
      <div class="row gy-5">

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-gear-fill bounce-svg" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/><path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
              </svg>
            <h5 class="m-2">FIBC Fabric</h5>
            <p class="m-0 text-secondary">Provide secure, cost-effective, and customizable packaging solutions for transporting and storing bulk materials.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-gear-wide-connected bounce-svg" viewBox="0 0 16 16">
                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z"/><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
              </svg>
            <h5 class="m-2">Unique Textiles</h5>
            <p class="m-0 text-secondary">Provide reliable static protection, ensuring safe and efficient handling of materials in environments where static discharge may pose a risk.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-lg-4">
          <div class="text-center px-xl-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#eb7700" class="bi bi-clipboard-check-fill bounce-svg" viewBox="0 0 16 16">
                <path d="M12.496 8a4.5 4.5 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11q.04.3.04.61"/><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-1 0a7 7 0 1 0-13.202 3.249l1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.5 4.5 0 0 1-1.592-.29L4.747 14.2A7 7 0 0 0 15 8m-8.295.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27z"/>
              </svg>
            <h5 class="m-2">Custom Textiles</h5>
            <p class="m-0 text-secondary">Offer the highest level of safety and compliance for transporting hazardous materials, ensuring secure and reliable packaging solutions that meet rigorous regulatory standards.</p>
          </div>
        </div>
        
      </div>
    </div>
      </section>
    </div>
</div>

<div class="d-flex justify-content-center py-4">
    <a routerLink="/textiles" class="btn btn-outline-primary btn-lg px-4 me-md-2" title="products">Learn More</a>
</div>
  

<!-- More -->

<div class="container py-4" id="featured-3">
    <h2 style="color: #1a4db3;" class="pb-2 border-bottom text-center text-md-start">More</h2>
    <div class="row g-4 py-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#eb7700" class="bi bi-person-check-fill bounce-svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
        </div>
        <h3 class="fs-3 text-body-emphasis text-center text-md-start">About us</h3>
        <p class="text-center text-md-start">Fast Pro Bags and Textiles, Inc. is committed to delivering the same high standards of quality, safety, innovation, and operational efficiency that our customers have come to expect from us.</p>
        <div class="text-center text-md-start">
          <a routerLink="/about" class="icon-link">
            About us
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#eb7700" class="bi bi-bag-dash-fill bounce-svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M6 9.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
          </svg>
        </div>
        <h3 class="fs-3 text-body-emphasis text-center text-md-start">Services</h3>
        <p class="text-center text-md-start">Fast Pro is your trusted advisor, offering expert engineering support and customized solutions tailored to your specific needs. With a focus on quick turnaround, we help you meet your supply chain goals efficiently and effectively</p>
        <div class="text-center text-md-start">
          <a routerLink="/services" class="icon-link">
            Services
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#eb7700" class="bi bi-headset bounce-svg" viewBox="0 0 16 16">
            <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"/>
          </svg>
        </div>
        <h3 class="fs-3 text-body-emphasis text-center text-md-start">Contact us</h3>
        <p class="text-center text-md-start">Contact us now for customized solutions, expert insights, and fast, professional service. We’re here to help you drive success—let’s achieve it together!</p>
        <div class="text-center text-md-start">
          <a routerLink="/contact" class="icon-link">
            Contact
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
      </div>
    </div>
  </div>